---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: csi-carina-node
  namespace: kube-system
  labels:
    app: csi-carina-node
spec:
  selector:
    matchLabels:
      app: csi-carina-node
  template:
    metadata:
      labels:
        app: csi-carina-node
    spec:
      serviceAccountName: carina-csi-node
      # resolved through k8s service, set dns policy to cluster first
      dnsPolicy: ClusterFirstWithHostNet
      initContainers:
        - name: init-container
          securityContext:
            privileged: true
          image: registry.cn-hangzhou.aliyuncs.com/carina/busybox:1.28
          command: ["sh", "-c"]
          # args: ["for i in dm_snapshot dm_mirror dm_thin_pool bcache; do modprobe $i; done"]
          args: ["for i in dm_snapshot dm_mirror dm_thin_pool; do modprobe $i; done"]
          volumeMounts:
            - mountPath: /lib/modules
              name: modules
      containers:
        - name: csi-node-driver-registrar
          # This is necessary only for systems with SELinux, where
          # non-privileged sidecar containers cannot access unix domain socket
          # created by privileged CSI driver container.
          securityContext:
            privileged: true
          image: registry.cn-hangzhou.aliyuncs.com/carina/csi-node-driver-registrar:v2.7.0
          args:
            - "--v=5"
            - "--csi-address=/csi/csi-carina.sock"
            - "--kubelet-registration-path=/var/lib/kubelet/plugins/csi.carina.com/csi-carina.sock"
          env:
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration
        - name: csi-carina-node
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
            allowPrivilegeEscalation: true
          # for stable functionality replace canary with the latest release version
          image: registry.cn-hangzhou.aliyuncs.com/carina/carina:latest
          command: ["carina-node"]
          args:
            - "--csi-address=/csi/csi-carina.sock"
            - "--metrics-addr=:8080"
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
#            - name: DEBUG
#              value: "true"
          ports:
            - containerPort: 9808
              name: healthz
            - containerPort: 8080
              name: metrics
          livenessProbe:
            httpGet:
              path: /healthz
              port: healthz
            failureThreshold: 3
            initialDelaySeconds: 10
            timeoutSeconds: 3
            periodSeconds: 65
          resources:
            requests:
              memory: "64Mi"
              cpu: "300m"
            limits:
              memory: "128Mi"
              cpu: "750m"
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: mountpoint-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
            - name: plugin-dir
              mountPath: /var/lib/kubelet/plugins
              mountPropagation: Bidirectional
            - name: device-plugin
              mountPath: /var/lib/kubelet/device-plugins
              mountPropagation: Bidirectional
            - name: host-sys
              mountPath: /sys/fs/cgroup
            - name: host-block
              mountPath: /sys/block
#            - name: host-bcache
#              mountPath: /sys/fs/bcache
            - name: host-dev
              mountPath: /dev
            - name: host-mount
              mountPath: /run/mount
            - name: host-proc
              mountPath: /host/proc
            - name: host-udev
              mountPath: /run/udev/data
            - name: config
              mountPath: /etc/carina/
            - name: log-dir
              mountPath: /var/log/carina/
        - name: liveness-probe
          image: registry.cn-hangzhou.aliyuncs.com/carina/livenessprobe:v2.9.0
          imagePullPolicy: "IfNotPresent"
          args:
            - --csi-address=/csi/csi-carina.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi.carina.com/
            type: DirectoryOrCreate
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry/
            type: Directory
        - name: mountpoint-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: DirectoryOrCreate
        - name: log-dir
          hostPath:
            path: /var/log/carina
            type: DirectoryOrCreate
        - name: plugin-dir
          hostPath:
            path: /var/lib/kubelet/plugins
            type: Directory
        - name: device-plugin
          hostPath:
            path: /var/lib/kubelet/device-plugins
            type: Directory
        - name: host-sys
          hostPath:
            path: /sys/fs/cgroup
        - name: host-block
          hostPath:
            path: /sys/block
#        - name: host-bcache
#          hostPath:
#            path: /sys/fs/bcache
        - name: modules
          hostPath:
            path: /lib/modules
        - name: host-dev
          hostPath:
            path: /dev
        - name: host-mount
          hostPath:
            path: /run/mount
        - name: host-proc
          hostPath:
            path: /proc
        - name: host-udev
          hostPath:
            path: /run/udev/data
        - name: config
          configMap:
            name: carina-csi-config

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: csi-carina-node
  name: carina-node
  namespace: kube-system
spec:
  ports:
    - name: metrics
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: csi-carina-node
  sessionAffinity: None
  type: ClusterIP
