apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: csi-carina-provisioner
    release: prometheus-operator
  name: prometheus-operator-carina
  namespace: monitoring
spec:
  endpoints:
    - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      port: metrics
  jobLabel: carina
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app: csi-carina-provisioner